@charset "UTF-8";

/*エラーメッセージ*/
#error_message{
  text-align: center;
}

/*画面内コンテンツを真ん中にする*/
.wrapper {
  margin: 0 auto 0 auto;	/* 中央揃え */
}

/*作成フォーム*/
form{
	margin: 20px;
	width: 900px;          
    margin: 50px auto;            
}

/*下半分のやつ*/
.textarea{
 text-align: center;
}

/*ボタン配置*/
.manumake{
  margin: 20px; 
  text-align: center;
}

/*テキストエリア*/
textarea {
  resize: none;
  width:350px;
  height:200px;
  overflow: auto;
}

/*テーブル*/
.make{
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
th {
  text-align: center;
  padding: 6px;
  width: 80px;
}
td {
  text-align: center;
  padding: 6px;
}
.time{
	width: 100px;
}
.time2{
	width: 200px;
}