@charset "UTF-8";


/* 全てのボタン */
.button{
	padding: 10px 40px;
	border: none;
	background-color: #ec7d6a;
	color: #FFFFEE;
	font-weight: bold;
	border-radius: 1em;
}

/* 全てのテキストボックス */
input[type="text"]{
	border: 2px solid #ec7d6a;
	background-color: #FFFFEE;
	border-radius: 0.5em;
}

button[type="submit"]{
	border: 2px solid #ec7d6a;
	background-color: #FFFFEE;
	border-radius: 0.5em;
}

/*作成フォーム*/
form{
	margin: 0 auto;

}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px; /* スペース調整 */
  margin-top: 40px;
}

.containers {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 230px; /* スペース調整 */
  margin-top: 40px;
}

.left, .right {
  width: 300px; /* 必要に応じて調整 */
}

/* textクラス */
.text{
	display: flex;            /* 横並びにする */
  	gap: 20px;                /* 要素間の隙間 */
 	margin: 0 auto;
 	
}

/*テキストエリア*/
#body{
	width: 500px;
	height: 200px;
	font-size: 22px;
		border: 2px solid #ec7d6a;
	background-color: #FFFFEE;
	border-radius: 0.5em;
}

#comment{
	width: 300px;
	height: 50px;
	font-size: 14px;
  	flex-direction: column; /* 縦に並べる */
  	gap: 10px; /* 要素間の間隔（任意） */
  		border: 2px solid #ec7d6a;
	background-color: #FFFFEE;
	border-radius: 0.5em;
}

#manual_form{
	text-align: center;
}

.click{
	border: 2px solid  #D3381C;
	background-color:  #ec7d6a;
	border-radius: 0.5em;
	color: white;
	width: 100px;
}

.clickup{
	border: 2px solid  #D3381C;
	background-color:  #ec7d6a;
	border-radius: 0.5em;
	color: white;
	width: 90px;
	height: 50px;
	font-size: 24px;
	transform: translateX(-150px); /* 中央から左へ40pxずらす */
}
.selectmenu{
	border: 2px solid #ec7d6a;
	background-color: #FFFFEE;
	border-radius: 0.5em;
	width: 200px;
}
.neon-text {
  color: #39FF14; /* 蛍光グリーン */
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}
