@charset "UTF-8";


.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.category {
  text-align: left;
  font-size: 1.2em;
  background-color: #FFFFEE;
  color: #FFFFEE;
  font-weight: bold;
  padding: 12px;
  margin-top: 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.category:hover {
  background-color: #D3381C;
}
.manual-content {
  display: none;
  padding: 12px 16px;
  background-color: #ec7d6a;
  border-radius: 4px;
  margin-bottom: 10px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.manual-content.active {
	background-color: #FFFFEE;
}
.manual-content p {
  margin: 0 0 8px;
}
.manual-content a {
  text-decoration: none;
  color: #005BAC;
  font-weight: bold;
}

.manual-content a:hover {
  text-decoration: underline;
}
.task-line {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 10px 15px;
  margin: 10px auto;       
  width: 100%;            
  box-sizing: border-box;  
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  word-break: break-word;
  text-decoration: none;
  cursor: pointer;
}

.task-name {
  flex-grow: 1;           
  text-align: center;      
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: 20px;    
}

.task-date {
  flex-shrink: 0;         
  font-size: 0.9em;
  color: #666;
  white-space: nowrap;
  text-align: right;     
}
