
/*入力フォーム*/
.wrapper {
  margin: 0 auto;	
  width: 470px;
  text-align: center;			
}

form input,
form textarea,
form select,
form button {
  margin: 8px 0;  /* 上下に8pxのマージン、左右は0 */
}

.button{
	margin: 20px;
}

#error_message{
	text-align: center;
}
